<!doctype html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<title>Simple tables</title>
<div class="container-fluid">
<div class=page>
  <h1>Stocks</h1>

  <form name="screener" action="/" method="post" class="form-inline">
      <div class="form-group">
          <label for="range">Price</label>
      <input name="price" type="range" id="range" min="0" max="1" onchange="rangevalue.value=value" step="0.01"/>
      <output id="rangevalue"></output>
      <label>Volume</label>
      <input name="numbermin" type="number"><input name="numbermax" type="number">
      <input class="btn btn-default" type="submit" />
  </div>
  </form>
<div class="table-responsive">
  <table class="table table-striped">
      <tr>
          <td>Time</td>
          <td>Name</td>
          <td>Price</td>
          <td>Open</td>
          <td>Close</td>
          <td>Volume</td>
      </tr>
  {% for item in items %}
      <tr>
          <td>{{item[0]|datetimeformat}}</td>
          <td><a href="{{''.join(['/data/', item[1]])}}">{{item[1]}}</a></td>
          <td>{{item[2]}}</td>
          <td>{{item[3]}}</td>
          <td>{{item[4]}}</td>
          <td>{{item[5]}}</td>
      </tr>
  {% endfor %}
</div>
</div>
</div>
